@tailwind base;
@tailwind components;
@tailwind utilities;


#heroSectionText {
    background: -webkit-linear-gradient(#a4dbf9, #ffffff);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}